.spinner-container {
	display: grid;
}
.spinner-container div {
	display: flex;
	animation: loadEmUp 1.2s linear infinite;
	-webkit-animation: loadEmUp 1.2s linear infinite;
	-moz-animation: loadEmUp 1.2s linear infinite;
	-ms-animation: loadEmUp 1.2s linear infinite;
	-o-animation: loadEmUp 1.2s linear infinite;
}
.dot {
	width: 50%;
	height: 50%;
	background-color: black;
	border-radius: 50%;
}
.spinner-container div:nth-child(2) {
	justify-content: center;
	align-items: center;
	animation-delay: 0;
}
.spinner-container div:nth-child(3) {
	justify-content: center;
	align-items: flex-start;
	animation-delay: -0.1s;
}
.spinner-container div:nth-child(4) {
	justify-content: center;
	align-items: center;
	animation-delay: -0.2s;
}
.spinner-container div:nth-child(6) {
	justify-content: center;
	align-items: center;
	animation-delay: -1.1s;
}
.spinner-container div:nth-child(10) {
	justify-content: center;
	align-items: center;
	animation-delay: -0.3s;
}
.spinner-container div:nth-child(11) {
	justify-content: flex-start;
	align-items: center;
	animation-delay: -1s;
}
.spinner-container div:nth-child(15) {
	justify-content: flex-end;
	align-items: center;
	animation-delay: -0.4s;
}
.spinner-container div:nth-child(16) {
	justify-content: center;
	align-items: center;
	animation-delay: -0.9s;
}
.spinner-container div:nth-child(20) {
	justify-content: center;
	align-items: center;
	animation-delay: -0.5s;
}
.spinner-container div:nth-child(22) {
	justify-content: center;
	align-items: center;
	animation-delay: -0.8s;
}
.spinner-container div:nth-child(23) {
	justify-content: center;
	align-items: flex-end;
	animation-delay: -0.7s;
}
.spinner-container div:nth-child(24) {
	justify-content: center;
	align-items: center;
	animation-delay: -0.6s;
}

@keyframes loadEmUp {
	0%,
	20%,
	80%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
}
